ion-content ion-toolbar {
    --background: translucent;
}

.container {
    position: relative;
}

.container img {
    display: block;
}

.container .fa-times-circle {
    position: absolute;
    background: white;
    top: 0;
    right: 0;
}