<h4 text-center margin-top style="margin-left: 40%; margin-top:15%">
    Insert your credentials</h4>
<ion-content>
    <ion-grid style="margin-left:40%">
        <ion-row>
            <ion-item>
                <ion-label stacked>Username: </ion-label>
                <ion-input [(ngModel)]="username"></ion-input>
            </ion-item>
        </ion-row>
        <ion-row>
            <ion-item>
                <ion-label stacked>Password: </ion-label>
                <ion-input type="password" [(ngModel)]="password"></ion-input>
            </ion-item>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button round color="secondary" margin-right (click)="signUp()">
                    Sign up
                </ion-button>
                <ion-button round color="success" (click)="signIn()">
                    Log In
                </ion-button>
            </ion-col>

        </ion-row>
    </ion-grid>
</ion-content>